@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MIS4200</h1>
    <p > This is a demo blah blah blah</p>
</div>

<div class="row">
    <div class="col-md-4">
       
        <h2>Introduction</h2>
        <p>
            Intro about me...This is an intro to MVC development in Visual Studio.
        </p>
      
    </div>
    <div class="col-md-4">
        <h2>MVC</h2>
        <p>This course introduces the Model-View-Controller development pattern.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
       
    </div>
</div>